.settings {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: auto;
}

.language:hover {
    color: var(--body-link-hover);
    text-shadow: 1px 1px 3px var(--shadow);
}

.mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    margin-left: 0;
}

.mobile>button {
    padding: .5rem .7rem;
}

.mobile button {
    width: 100%;
    text-align: left;
}