.project {
    padding: 2rem;
    background-color: var(--body-background-weak);
    border: 1px solid transparent;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    border-radius: 3px;
    opacity: .9;
    transition: .3s border, .3s opacity;
}

.project:hover {
    border: 1px solid var(--body-text-transparent);
    opacity: 1;
}

.figure {
    aspect-ratio: 3 / 2;
    margin: 0;
    display: flex;
    overflow: hidden;
    border-radius: 3px;
}

.figure img {
    width: 100%;
    height: auto;
}

.title {
    position: relative;
    word-break: break-word;
}

.title a {
    text-decoration: none;
}

.wip {
    position: absolute;
    bottom: .5rem;
    display: inline-block;
    font-family: var(--font-body);
    font-size: .9rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--body-background);
    background-color: var(--body-text-transparent);
    padding: .4rem .7rem .4rem .7rem;
    border: none;
    border-radius: 3px;
    transition: opacity .4s;
    word-break: keep-all;
}

.link_demo,
.link_github {
    font-size: 1.5rem;
    color: var(--body-text);
    margin-right: 1rem;
    text-decoration: none;
}

.date {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--body-link);
    margin: -1.5rem 0 1rem 0;
}

.taglist {
    justify-self: flex-end;
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.taglist>div {
    margin-left: 0;
    margin-right: .4rem;
}