.project {
    padding: 2rem 0 2rem 0;
    /* border-bottom: 1px solid var(--body-text-transparent) */
}

.date {
    font-family: 'Courier New', Courier, monospace;
    color: var(--body-link);
    margin: -1rem 0 2rem 0;
}

.links {
    /* font-family: 'Courier New', Courier, monospace; */
    text-transform: lowercase;
    letter-spacing: 1px;
    font-size: .9rem;
}

.links i {
    margin-right: .5rem;
}

.links a {
    margin: 0;
    padding: .5rem .7rem;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    transition: background-color .3s;
}

.links a:hover {
    background-color: var(--body-background-weak);
    color: var(--body-link);
}

.taglist {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
}