#root {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    justify-content: center;
    height: 100vh;
}

header {    
    grid-area: header;
    margin: 1rem;
    padding-bottom: 1rem;
    text-transform: lowercase;
    border-bottom: 1px solid var(--body-text-transparent);
    display: flex;
    justify-content: center;
}

.nav-desktop {
    flex-basis: var(--max-width);
    display: flex;
    justify-content: center;
    align-items: last baseline;
}

.nav-mobile {
    display: none;
}

.nav-icon {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--body-text);
    background-color: transparent;
    transition: color .4s;
}

.nav-icon:hover {
    background-color: transparent;
    color: var(--body-link-hover)
}

main {
    grid-area: main;
    padding: 1rem;
}

footer {    
    grid-area: footer;
    margin-top: 3rem;
    padding: 1rem;
    text-align: center;
    text-transform: lowercase;
}

@media (max-width: 700px) {
    header {
        padding: 0;
    }

    .nav-desktop {
        display: none;
    }

    .nav-mobile {
        display: block;
        width: 100%;
    }

    .nav-mobile_header {
        display: flex;
        justify-content: space-between;
        align-items: last baseline;
        border-bottom: 1px solid var(--body-text-transparent);
    }

    .nav-mobile_menu {
        padding: 1rem 0;
    }

    .nav-mobile_menu hr {
        width: 0rem;
        margin-top: 2rem;
        margin-left: 0;
        text-align: left;
    }

    .nav-mobile_menu hr:after {
        content: "//"
    }
}