.main {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
}

.skills_wrapper {
    margin-top: 2rem;
}

.skills_wrapper p {
    margin-bottom: 2rem;
}

.skills_description {
    color: var(--body-link);
}