.main {
    max-width: var(--max-width);
    margin: 0 auto;
}

.skills_wrapper {
    margin-top: 2rem;
}

.skills_wrapper p {
    margin-bottom: 2rem;
}

.skills {
    font-size: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    color: var(--body-text-transparent);
}

.skills .emphasis {
    color: var(--body-text);
}