/* styling for entire project */
/* -------------------------- */

@import "../node_modules/react-image-gallery/styles/css/image-gallery.css";

/* fonts */


/* icons */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* variables */

* {
    --max-width: 900px;
}

.light-mode {
    --body-background: #fff1d0;
    --body-background-strong: #fffaee;
    --body-background-weak: #f9e4b1;
    --body-background-transparent: rgba(249, 228, 177, .5);
    --body-background-transparent-80: rgba(249, 228, 177, .8);
    --body-text: #5b1515;
    --body-text-strong: #390505;
    --body-text-weak: #782424;
    --body-text-transparent: rgba(91, 21, 21, .3);
    --body-text-transparent-70: rgba(91, 21, 21, .7);
    --body-link: #8d1300;
    --body-link-hover: #be3900;
    --accent1: rgb(0, 142, 142);
    --shadow: #fffcf4;
    --outline: rgb(0, 182, 173);
    --success: rgb(0, 142, 142);
    --error: darkred;
}

.dark-mode {
    --body-background: #5b1515;
    --body-background-strong: #390505;
    --body-background-weak: #782424;
    --body-background-transparent: rgba(120, 36, 36, .5);
    --body-background-transparent-80: rgba(120, 36, 36, .8);
    --body-text: #fff1d0;
    --body-text-strong: #fffaee;
    --body-text-weak: #f9e4b1;
    --body-text-transparent: rgba(255, 241, 208, .3);
    --body-text-transparent-70: rgba(255, 241, 208, .7);
    --body-link: #ffda83;
    --body-link-hover: #ffc02e;
    --accent1: rgb(161, 240, 216);
    --shadow: #2b0202;
    --outline: rgb(161, 240, 216);
    --success: rgb(161, 240, 216);
    --error: rgb(218, 79, 60);
}

/* body */

* {
    box-sizing: border-box;
}

::selection {
    color: var(--body-background-strong);
    background: var(--accent1);
}

body {
    margin: 0;
    font-family: Consolas, 'Courier New', monospace;
    line-height: 1.5;
    color: var(--body-text);
    background-color: var(--body-background);
}

header,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
legend {
    font-weight: normal;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-bottom: 4rem;
}

/* links */

a {
    color: var(--body-link);
    border-radius: 3px;
}

a:hover {
    color: var(--body-link-hover);
    /* text-shadow: 1px 1px 3px var(--shadow); */
}

a:focus, a:active {
    outline: 2px solid var(--outline);
}

.notactive {
    text-decoration: none;
}

.active {
    text-decoration: underline;
}

/* input elements */

input,
textarea {
    font-family: inherit;
    padding: .5rem;
    color: var(--body-text);
    background-color: var(--body-background-weak);
    border: none;
    border-radius: 3px;
}

input::placeholder,
textarea::placeholder {
    color: var(--body-text-transparent-70);
}

input:hover,
input:focus,
input:active {
    background-color: var(--body-background-weak);
}

input:focus,
textarea:focus {
    outline: 2px solid var(--outline);
}

input[type=radio],
input[type=checkbox] {
    accent-color: var(--body-link);
}

button {
    font-family: inherit;
    padding: .5rem .7rem;
    color: var(--body-background-strong);
    background-color: var(--body-link);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color .4s;
}

button:hover {
    background-color: var(--body-link-hover);
}

button:active, button:focus {
    outline: 2px solid var(--outline);
}

/* hr */

hr {
    overflow: visible;
    padding: 0;
    margin: 5rem auto 0 auto;
    border: none;
    border-top: 1px solid var(--body-text-transparent);
    color: var(--body-text-transparent);
    text-align: center;
    width: 10rem;
}

hr:after {
    content: "&&";
    display: inline-block;
    position: relative;
    top: -.8rem;
    font-size: 1rem;
    padding: 0 0.5rem;
    background: var(--body-background);
}

/* image gallery */

.image-gallery-slides {
    white-space: normal !important;
}

.image-gallery-icon {
    opacity: .5;
    color: var(--body-link);
}

.image-gallery-icon:hover {
    color: var(--body-link-hover);
    background-color: transparent;
    opacity: 1;
}

.image-gallery-icon:focus {
    outline-color: var(--outline);
}

.image-gallery-bullet {
    background-color: var(--body-text-transparent) !important;
    border-color: var(--body-link-hover) !important;
}

.image-gallery-bullets-container .active {
    background-color: var(--body-link) !important;
    border-color: var(--body-link-hover) !important;
}

.image-gallery-bullet:hover {
    background-color: var(--body-link-hover) !important;
}